<div class="outer-container">
    <div class="top-panel-container">
        <div class="inner-left">
            <div class="title-left">
                <div class="title-deliverable"> Deliverables Summary </div>
            </div>
            <div class="KPI-left">
                <div class="dropdown">
                    <div class="mid-text">
                        Deliverable
                    </div>
                    <dx-select-box [items]="simpleProducts"></dx-select-box>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="title">
                <div class="mid-text">
                    Constraint Make
                </div>
            </div>
            <div class="KPI">
                <div class="buy">
                    <div class="value">2</div>
                    <a href="#">View Parts</a>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="title">
                <div class="mid-text">
                    Constraint Buy
                </div>
            </div>
            <div class="KPI">
                <div class="buy">
                    <div class="value">2</div>
                    <a href="#">View Parts</a>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="title">
                <div class="mid-text">
                    Healthy
                </div>
            </div>
            <div class="KPI">
                <div class="buy">
                    <div class="value">2</div>
                    <a href="#">View Parts</a>
                </div>
            </div>
        </div>
        <!-- <div class="inner">
          
        </div> -->
        <div class="inner">
            <div class="title">
                <div class="chart-container">
                    <app-projected-chart></app-projected-chart>
                </div>
            </div>
           
        </div>
    </div>
</div>
