.med-logo {
    display: flex;
    justify-content: end;
    margin-top: -31%;
}

.reset-logo {
    display: flex;
    justify-content: end;
    margin-top: -58%;
    margin-bottom: 55%;
    margin-right: -10%;
}

.arrow {
   padding-top: 8%;
  
}