<div *ngIf="icon === 'deliverables'"><app-deliverables-icon></app-deliverables-icon></div>
<div *ngIf="icon === 'exploded'"><app-exploded-icon></app-exploded-icon></div>
<div *ngIf="icon === 'map'"><app-map-icon></app-map-icon></div>
<div *ngIf="icon === 'spf'"><app-spf-icon></app-spf-icon></div>
<div *ngIf="icon === 'trafficmanager'"><app-traffic-icon></app-traffic-icon></div>
<div *ngIf="icon === 'signout'"><app-signout></app-signout></div>
<div *ngIf="icon === 'dflogo'"><app-df-logo></app-df-logo></div>
<div *ngIf="icon === 'minidflogo'"><app-df-mini-logo></app-df-mini-logo></div>
<div class="med-logo" *ngIf="icon === 'dfmedlogo'"><app-df-med-logo></app-df-med-logo></div>
<div class="reset-logo" *ngIf="icon === 'resetlogo'"><app-df-logo-reset></app-df-logo-reset></div>
<div *ngIf="icon === 'testlogo'"><app-test-company></app-test-company></div>
<div *ngIf="icon === 'admin'"><app-admin-icon></app-admin-icon></div>
<div *ngIf="icon === 'headerlogo'"><app-header-logo></app-header-logo></div>
<div class="arrow" *ngIf="icon === 'up-icon'"><app-up-icon></app-up-icon></div>
<div class="arrow" *ngIf="icon === 'down-icon'"><app-down-icon></app-down-icon></div>
<div class="arrow" *ngIf="icon === 'red-up-icon'"><app-red-up-icon></app-red-up-icon></div>




