<div class="text-container">
    <div class="toggle-view">
        <a href="#">Single Part Flow</a>
        <a>/</a>
        <a class="overview" href="#">Overview</a>
    </div>
    <div class="title-container">
        <h2>Single Part Flow</h2>
        <div class="unit border">
            <div class="KPI-left">
                <div class="dropdown">
                    <div class="top-text">
                        Part No.
                    </div>
                    <dx-select-box [items]="simpleProducts"></dx-select-box>
                </div>
            </div>
            <!-- <div class="top-text">Part No.</div>
            <div class="bottom-text">Chair Leg B</div> -->
        </div>
        <div class="unit description">
            <div class="top-text">Description</div>
            <div class="bottom-text">Chair Leg Type B</div>
        </div>
        <div class="unit">
            <div class="top-text">Flow Balance</div>
            <div class="bottom-text">22%</div>
        </div>
        <div class="unit">
            <div class="top-text">Velocity</div>
            <div class="bottom-text">67.0 Days</div>
        </div>
        <div class="unit">
            <div class="top-text">Quality</div>
            <div class="bottom-text">100%</div>
        </div>
        <div class="unit">
            <div class="top-text">Unit Count</div>
            <div class="bottom-text">$8.25</div>
        </div>
        <div class="unit">
            <div class="top-text">Inventory</div>
            <div class="bottom-text">38</div>
        </div>
        <div class="unit">
            <div class="top-text">Average Weekly Demand</div>
            <div class="bottom-text">2.68</div>
        </div>
        <div class="unit">
            <dx-button text="Action Plan"></dx-button>
        </div>
    </div>
</div>