.text-container {
    margin-left: 1.8%;
    margin-top: 0.8%;
}

.toggle-view {
    display: flex;
}

a {
    margin-right: 0.8%;
    margin-bottom: 0.5%;
}

.overview {
    margin-left: -0.2%;
}

h2 {
    font-weight: 600;
    font-size: 150%;
    @media (max-height: 610px) {
        font-size: 120%;
        font-weight: 600;
      }
}