<div class="outer-container">
    <div class="top-panel-container">
        <div class="outer">
            <div class="totals">
                <div class="totals-text">
                   Performance Totals
                </div>
            </div>
            <div class="inners-container">
                <div class="inner mid">
                    <div class="KPI">
                        <div class="buy">
                            <div class="mid-text">Flow Balance</div>
                            <div class="kpi-values">
                                <div class="percent numeric">%</div>
                                <div class="numeric">{{flowBalance}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner mid">
                    <div class="KPI">
                        <div class="buy">
                            <div class="mid-text">Quality</div>
                            <div class="kpi-values">
                                <div class="percent numeric">%</div>
                                <div class="numeric">{{quality}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner mid">
                    <div class="KPI">
                        <div class="buy">
                            <div class="mid-text">Run Time % of Lead Time</div>
                            <div class="kpi-values">
                                <div class="percent numeric">%</div>
                                <div class="numeric">{{runTime}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner mid">
                    <div class="KPI">
                        <div class="buy">
                            <div class="mid-text">Velocity</div>
                            <div class="kpi-values">
                                <div class="numeric">{{velocity}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
